#header_top{
    background-color: blueviolet;
}

.left_element{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    text-transform: capitalize;
    text-decoration: none;
    color: aliceblue;
    padding: 12px 0px 0px 0px;
}

.right_element div{
    display: inline;
    padding: 10px;
    font-size: 1.1rem;
    color: aliceblue;
}

.right_element{
    padding: 10px 0px 0px 0px;
    float: right;
}

.custom_navbar img{
    display: block;
    max-width: 100%;
    height: auto;
}

.body_top{
    background: url('../img/j.png');
    min-height: 700px;
    width: 90%;
   
}
/* .man_image img{
    display: block;
    max-width: 100%;
    height: auto;
} */

/* .custom_overlay{
    transform: translate(50% ,50%);
} */
.custom_overlay{
    text-align: center;
}

/* Footer Section */
.footer_section{
    background-color: rgb(31, 28, 28);
    padding: 5%;
}
.footer_unitech_logo{
    color: aliceblue;
}
.footer_contact{
    color: aliceblue;
}
.popular_section{
    color: aliceblue;
}
.footer_information{
    color: aliceblue;
}
.footer_discriptions{
    color: aliceblue;
}
.footer_unitech_logo img{
    display: block;
    max-width: 100%;
    height: auto;
}
.footer_fist_col_icon div{
    display: inline;
    padding: 10px;
    color: aliceblue;
    font-size: 1.3rem;
}
.footer_discriptions{
    padding: 10px;
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


.overlay_middle{
    margin-top: 30%;
}

.professor{
    margin: 10%
}
.professor img{
    width: 649px;
    height: 604;
}


/* Counter CSS */
.i2 {
  font-size: 3rem !important;
  margin-top: 10%;
  color: rgb(236, 30, 81) ;
}

h2 {
  padding-top: 10px;
  color: rgb(37, 183, 250) !important;
  padding-bottom: 10px;
  font-size: medium;
}


/* Custom */